{% extends "techniques/goal.j2" %}
{% block goal %}to generate steps from user input that selects and cleans data for graph building. {% endblock %}
{% block prompt %}
The current date is {{ date }}. Your task is:

{{ task }}

Answer in the provided format.

Your job is to decompose the original task into executable sub-tasks using a hierarchical approach. You should break the task into
a tree-like structure and keep it ordered by order of execution. Always generate the least amount of sub-tasks possible.
## Few shot examples
A sample answer for a given task is provided below. You can use it as a template for your answer.
- Task: "Generate a bar graph of sales from my sales file"
- Answer:
    {
        "task": "Generate a bar graph of sales per month from my Sales.xlsx", 
        "subtasks": [
            {
                "task": "Read sales from excel file into dataframe"
            },
            {
                "task": "Aggregate total sales per month into temporary table"
            },
            {
                "task": "Call build_graph and select month as X and total sales as Y from temporary table "
            }
        ]
    }

{% if resources %}
## Resources
You can only access the following files or databases. If a user mentions one of the resources below, use its Path to access:
{% for resource in resources %}
- {{ resource }}
{% endfor %}
{% endif %}

{% if abilities %}
## Abilities
You have access to the following abilities you can call:
{% for ability in abilities %}
- {{ ability }}
{% endfor %}
{% endif %}

{% endblock %}