Respond only with javscript code and replace element ids with {element1}, {element2}, etc... as the example below.

```javascript
    const data = [{
      x: ['January', 'February', 'March', 'April', 'May'],
      y: [100, 200, 300, 400, 500],
      type: 'line'
    }];

    const layout = {
      title: 'Sales by Month'
    };

    Plotly.newPlot({element1}, data, layout);
```